<h2>Welcome to Pizza House!</h2>
  
  <% @products.each do |p| %>
    <p>
        product
    </p>
  <% end %>

<button class="btn btn-primary" type="submit" onclick="something()">Click me !</button>
